.u-section-1 {background-image: none}
.u-section-1 .u-image-1 {min-height: 470px; background-image: url("images/pexelsphoto3201763.jpeg"); background-position: 50% 50%}
.u-section-1 .u-group-1 {width: 800px; min-height: 62px; background-image: none; margin: 344px auto 60px}
.u-section-1 .u-container-layout-1 {padding: 0 30px}
.u-section-1 .u-text-1 {letter-spacing: 2px; font-size: 1.125rem; font-weight: 700; text-transform: none; margin: 0 30px} 

@media (max-width: 1199px){ .u-section-1 .u-image-1 {min-height: 388px} }

@media (max-width: 991px){ .u-section-1 .u-image-1 {min-height: 297px}
.u-section-1 .u-group-1 {width: 720px}
.u-section-1 .u-text-1 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {min-height: 223px}
.u-section-1 .u-group-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {min-height: 140px}
.u-section-1 .u-group-1 {width: 340px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 103px}
.u-section-2 .u-form-1 {height: 67px; margin: 18px -10px 18px 10px}
.u-section-2 .u-form-group-2 {margin-left: auto; margin-right: auto}
.u-section-2 .u-form-group-3 {margin-left: auto; margin-right: auto}
.u-section-2 .u-form-group-4 {margin-left: auto; margin-right: auto}
.u-section-2 .u-form-group-5 {margin-left: auto; margin-right: auto}
.u-section-2 .u-btn-1 {background-image: none; border-style: none} 

@media (max-width: 1199px){ .u-section-2 .u-form-1 {margin-right: 0; margin-left: 0} }.u-section-3 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 744px}
.u-section-3 .u-layout-wrap-1 {margin: 0 0 20px}
.u-section-3 .u-layout-cell-1 {min-height: 724px}
.u-section-3 .u-container-layout-1 {padding: 0 100px 0 20px}
.u-section-3 .u-text-1 {font-size: 2.25rem; margin: 152px 0 0}
.u-section-3 .u-text-2 {text-transform: uppercase; font-size: 1.25rem; margin: 8px 0 0}
.u-section-3 .u-text-3 {line-height: 1.8; font-size: 1rem; margin: 26px 92px 0 55px}
.u-section-3 .u-btn-1 {background-image: none; text-transform: uppercase; letter-spacing: 2px; font-size: 0.875rem; margin: 19px auto 0 55px}
.u-section-3 .u-layout-cell-2 {min-height: 724px}
.u-section-3 .u-container-layout-2 {padding: 0}
.u-section-3 .u-image-1 {width: 481px; height: 577px; object-position: 27.98% 50%; background-position: 27.98% 50%; margin: 0 0 0 89px}
.u-section-3 .u-image-2 {width: 311px; height: 375px; object-position: 50% 77.31%; background-position: 50% 77.31%; box-shadow: 5px 5px 33px 0 rgba(0,0,0,0.4); margin: -288px auto 0 -100px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 617px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 597px}
.u-section-3 .u-text-3 {margin-right: 42px; margin-left: 5px}
.u-section-3 .u-btn-1 {margin-left: 0}
.u-section-3 .u-layout-cell-2 {min-height: 597px}
.u-section-3 .u-image-1 {width: 470px; height: 564px; margin-left: 0}
.u-section-3 .u-image-2 {margin-top: -275px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 120px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-right: 30px}
.u-section-3 .u-text-3 {margin-right: 7px; margin-left: 0}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-1 {width: 360px; height: 432px}
.u-section-3 .u-image-2 {margin-top: -143px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 220px}
.u-section-3 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-3 .u-text-1 {font-size: 1.5} }

@media (max-width: 575px){ .u-section-3 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 251px}
.u-section-3 .u-text-1 {font-size: 1.25rem; margin-top: 15px}
.u-section-3 .u-text-2 {font-size: 1rem; margin-top: 0}
.u-section-3 .u-text-3 {font-size: 0.875rem; margin-top: 15px; margin-right: 0}
.u-section-3 .u-btn-1 {margin-top: 15px; padding: 3px 14px 4px 12px}
.u-section-3 .u-image-1 {height: 408px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-image-2 {margin-top: -119px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 194px}
.u-section-4 .u-layout-wrap-1 {margin: 13px auto}
.u-section-4 .u-layout-cell-1 {order: 1; min-height: 162px}
.u-section-4 .u-container-layout-1 {padding: 20px}
.u-section-4 .u-icon-1 {height: 70px; width: 70px; margin: 0 auto}
.u-section-4 .u-text-1 {font-size: 1.25rem; font-weight: 700; margin: 27px 0 0}
.u-section-4 .u-layout-cell-2 {order: 0; min-height: 162px}
.u-section-4 .u-container-layout-2 {padding: 20px}
.u-section-4 .u-icon-2 {height: 70px; width: 70px; margin: 0 auto}
.u-section-4 .u-text-2 {font-size: 1.25rem; font-weight: 700; margin: 27px 0 0}
.u-section-4 .u-layout-cell-3 {order: 2; min-height: 162px}
.u-section-4 .u-container-layout-3 {padding: 20px}
.u-section-4 .u-icon-3 {height: 70px; width: 70px; margin: 0 auto}
.u-section-4 .u-text-3 {font-size: 1.25rem; font-weight: 700; margin: 27px 0 0}
.u-section-4 .u-layout-cell-4 {order: 3; min-height: 162px}
.u-section-4 .u-container-layout-4 {padding: 20px}
.u-section-4 .u-icon-4 {height: 70px; width: 70px; background-image: none; margin: 0 auto}
.u-section-4 .u-text-4 {font-size: 1.25rem; font-weight: 700; margin: 27px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 149px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 134px}
.u-section-4 .u-layout-cell-2 {min-height: 134px}
.u-section-4 .u-layout-cell-3 {min-height: 134px}
.u-section-4 .u-layout-cell-4 {min-height: 134px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 215px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 315px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }.u-section-5 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-5 .u-sheet-1 {min-height: 326px}
.u-section-5 .u-image-1 {width: 442px; height: 326px; margin: 0 auto -27px} 

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 251px}
.u-section-5 .u-image-1 {width: 340px; height: 251px} }.u-section-6 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-6 .u-sheet-1 {min-height: 55px}
.u-section-6 .u-text-1 {margin: 8px 106px} 

@media (max-width: 1199px){ .u-section-6 .u-text-1 {margin-left: 6px; margin-right: 6px} }

@media (max-width: 991px){ .u-section-6 .u-text-1 {margin-left: 0; margin-right: 0} }.u-section-7 .u-sheet-1 {min-height: 376px}
.u-section-7 .u-layout-wrap-1 {margin-top: 0; margin-bottom: -54px}
.u-section-7 .u-layout-cell-1 {min-height: 386px}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-image-1 {height: 250px; margin: 0 auto 0 0}
.u-section-7 .u-text-1 {margin: 30px 30px 0}
.u-section-7 .u-layout-cell-2 {min-height: 386px}
.u-section-7 .u-container-layout-2 {padding: 30px}
.u-section-7 .u-image-2 {height: 250px; margin: 0 auto 0 0}
.u-section-7 .u-text-2 {margin: 30px 30px 0}
.u-section-7 .u-layout-cell-3 {min-height: 386px}
.u-section-7 .u-container-layout-3 {padding: 30px}
.u-section-7 .u-image-3 {height: 250px; margin: 0 auto 0 0}
.u-section-7 .u-text-3 {margin: 30px 30px 0} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 100px}
.u-section-7 .u-layout-cell-1 {min-height: 100px}
.u-section-7 .u-image-1 {height: 206px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-image-2 {height: 206px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-7 .u-layout-cell-3 {min-height: 100px}
.u-section-7 .u-image-3 {height: 206px; margin-right: initial; margin-left: initial}
.u-section-7 .u-text-3 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-7 .u-image-1 {height: 158px; margin-right: initial; margin-left: initial}
.u-section-7 .u-image-2 {height: 158px; margin-right: initial; margin-left: initial}
.u-section-7 .u-image-3 {height: 158px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 200px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-image-1 {height: 356px; margin-right: initial; margin-left: initial}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-image-2 {height: 356px; margin-right: initial; margin-left: initial}
.u-section-7 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-image-3 {height: 356px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 351px}
.u-section-7 .u-image-1 {height: 224px; margin-right: initial; margin-left: initial}
.u-section-7 .u-image-2 {height: 224px; margin-right: initial; margin-left: initial}
.u-section-7 .u-image-3 {height: 224px; margin-right: initial; margin-left: initial} }.u-section-8 .u-sheet-1 {min-height: 376px}
.u-section-8 .u-layout-wrap-1 {margin-top: 0; margin-bottom: -54px}
.u-section-8 .u-layout-cell-1 {min-height: 386px}
.u-section-8 .u-container-layout-1 {padding: 30px}
.u-section-8 .u-image-1 {height: 250px; margin: 0 auto 0 0}
.u-section-8 .u-text-1 {margin: 30px 30px 0}
.u-section-8 .u-layout-cell-2 {min-height: 386px}
.u-section-8 .u-container-layout-2 {padding: 30px}
.u-section-8 .u-image-2 {height: 250px; margin: 0 auto 0 0}
.u-section-8 .u-text-2 {margin: 30px 30px 0}
.u-section-8 .u-layout-cell-3 {min-height: 386px}
.u-section-8 .u-container-layout-3 {padding: 30px}
.u-section-8 .u-image-3 {height: 250px; margin: 0 auto 0 0}
.u-section-8 .u-text-3 {margin: 30px 30px 0} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 100px}
.u-section-8 .u-layout-cell-1 {min-height: 100px}
.u-section-8 .u-image-1 {height: 206px; margin-right: initial; margin-left: initial}
.u-section-8 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-8 .u-layout-cell-2 {min-height: 100px}
.u-section-8 .u-image-2 {height: 206px; margin-right: initial; margin-left: initial}
.u-section-8 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-8 .u-layout-cell-3 {min-height: 100px}
.u-section-8 .u-image-3 {height: 206px; margin-right: initial; margin-left: initial}
.u-section-8 .u-text-3 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-8 .u-image-1 {height: 158px; margin-right: initial; margin-left: initial}
.u-section-8 .u-image-2 {height: 158px; margin-right: initial; margin-left: initial}
.u-section-8 .u-image-3 {height: 158px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 200px}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-image-1 {height: 356px; margin-right: initial; margin-left: initial}
.u-section-8 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-image-2 {height: 356px; margin-right: initial; margin-left: initial}
.u-section-8 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-image-3 {height: 356px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 351px}
.u-section-8 .u-image-1 {height: 224px; margin-right: initial; margin-left: initial}
.u-section-8 .u-image-2 {height: 224px; margin-right: initial; margin-left: initial}
.u-section-8 .u-image-3 {height: 224px; margin-right: initial; margin-left: initial} }